<!-- templates/admin_panel.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}Lista Conversaciones{% endblock %}

{% block extra_links %}

<link rel="stylesheet" href="{% static 'appCasa/css/conversaciones/listaConversaciones.css' %}">

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-white">Mis Conversaciones</h1>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Asunto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for conversacion in conversaciones %}
            <tr>
                <td>{{ conversacion.asunto }}</td>
                <td>
                    <a href="{% url 'ver_conversacion' conversacion.id %}" class="btn btn-light" title="Ver todos los mensajes de la conversación">Ver Mensajes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}