@media (max-width: 900px) {
    /* Estilos que solo se aplicarán cuando el ancho de la pantalla sea de 768px o menos */
    .calendar-container {
        padding: 5px;
        height: auto; /* Ajusta la altura para dispositivos móviles */
    }

    .div-precios {
        flex-direction: column;
    }

    
    .range-class-div {
        width: 95%;
        height: 1.5rem;
    }

    .inputs-dates {
        display: flex; /* Asegura que el contenedor use flexbox */
        flex-direction: column; /* Alinea los elementos en columna */
        align-items: center; /* Centra los elementos horizontalmente en el contenedor */
        font-size: 0.9em;
        width: 100% !important;
        max-width: 300px; /* Limita la anchura máxima de los campos */
        height: 100px;
        justify-content: space-between;
    }
    
    .inputs-dates div {
        width: 100%; /* Hace que cada campo de entrada ocupe el ancho completo */
        margin-bottom: 10px; /* Añade un poco de margen entre los campos si es necesario */
    }

    .form_reserve {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 650px;
        justify-content: space-between;
    }

    .title-reserve {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .carousel-item img {
        height: auto;  /* Asegura que la altura de la imagen se ajuste a la proporción correcta */
        max-width: 100%;  /* Limita el ancho de la imagen al 100% del elemento contenedor */
        width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
    }
    
    #carousel-casa {
        max-width: 100% !important;  /* Limita el ancho máximo del carrusel al 100% de su contenedor */
        margin: auto !important;  /* Centra el carrusel horizontalmente */
    }
    
    .carousel-control-prev, .carousel-control-next {
        width: 5%;  /* Ajusta el ancho de los controles del carrusel si es necesario */
    }
    
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-size: 100%;  /* Asegura que los íconos de los controles se vean bien en cualquier tamaño */
    }
    
    
    
}

/* styles.css */
body {
    background-color: #2B332C !important; /* asegura que se aplique el color */
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: whitesmoke; /* Asegúrate de que el texto sea visible con el fondo oscuro */
}

.form_reserve {
    width: 700px;
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-around;
}

header {
    background-color: #003300;
}

.title-description{
    text-align: center;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    padding: 10px;
    color: whitesmoke;
}

.title-reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-dates {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 95%;
    color: whitesmoke;
}


.btn_reserve {
    text-align: center;
    margin-top: 50px;
}




.ui-datepicker.ui-widget {
    background: #FFFFFF; /* Blanco para el cuerpo del calendario */
    border: 1px solid #ddd; /* Bordes sutiles */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el widget */
}

.ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background-color: #35495E; /* Azul grisáceo oscuro para la cabecera */
    color: white; /* Texto blanco para contraste */
    border-bottom: 1px solid #2C3E50; /* Borde más oscuro en la parte inferior de la cabecera */
}

.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default {
    background: #E5E5E5; /* Gris claro para días seleccionables */
    color: #333333; /* Texto casi negro para legibilidad */
}

.ui-datepicker.ui-widget .ui-state-disabled {
    opacity: 0.5; /* Semi-transparente para los no seleccionables */
}

.ui-datepicker.ui-widget .reserved .ui-state-default {
    background-color: #35495E; /* Rojo desaturado para días reservados */
    color: white; /* Texto blanco para destac ar sobre fondo oscuro */
    border: 1px solid #BB6060; /* Borde en un tono rojo más oscuro */
}

.ui-datepicker.ui-widget .ui-state-hover {
    background-color: #5C8D89; /* Verde azulado para hover */
    color: white; /* Texto blanco para alto contraste */
    border-color: #4A6D6B; /* Borde en tono verde azulado oscuro */
}

.carousel-item img {
    height: auto;  /* Asegura que la altura de la imagen se ajuste a la proporción correcta */
    max-width: 100%;  /* Limita el ancho de la imagen al 100% del elemento contenedor */
    width: 100%;  /* Hace que la imagen ocupe todo el ancho disponible */
}

#carousel-casa {
    min-width: 50%;
    max-width: 50%;  /* Limita el ancho máximo del carrusel al 100% de su contenedor */
    margin: 5%;  /* Centra el carrusel horizontalmente */
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;  /* Ajusta el ancho de los controles del carrusel si es necesario */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%;  /* Asegura que los íconos de los controles se vean bien en cualquier tamaño */
}

.container {
    background-color: #2c3e50; /* Color de fondo para mejorar el contraste */
    padding: 20px;
    color: white;
  }
  
  .form-label {
    color: #ffffff;
    display: block; /* Asegura que la etiqueta ocupe su propia línea */
    margin-bottom: 5px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  
  .price-inputs {
    display: flex;
    justify-content: space-between; /* Espacio entre los campos de precio */
    align-items: center;
  }
  
  .price-field {
    flex: 1;
    margin-right: 20px; /* Espacio entre los campos de precio */
  }
  
  .slider-labels {
    margin-bottom: 20px;
  }
  
  .div-precios {
    display: flex;
    justify-content: space-between;
}
