<!-- templates/admin_panel.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}{{ casa.nombre }}{% endblock %}

{% block extra_links %}

<link rel="stylesheet" href="{% static 'appCasa/css/casas/casaRio.css' %}">

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet"
  href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}


<div class="calendar-container">
  <div class="title-description">
    <h1>{{ casa.nombre }}</h1>
    <p> {{ casa.descripcion }}</p>
  </div>

  <div id="carousel-casa" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/appCasa/images/house.avif" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/appCasa/images/mountain.webp"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/appCasa/images/piscina.webp"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-casa" data-bs-slide="prev" title="Anterior">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-casa" data-bs-slide="next" title="Siguiente">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <div class="title-reserve">
    <h2>Bienvenido a nuestro calendario de reservas</h2>
    <p>
      Por favor, seleccione los días que le gustaría visitar nuestra
      estancia:
    </p>
  </div>

  <form class="form_reserve" action="{% url 'reserve' casa.id %}" method="post">
    {% csrf_token %}
    <div class="inputs-dates">
      <div>
        <label for="fecha_entrada">Fecha de entrada:</label>
        <input placeholder="Selecciona una fecha" type="text" id="fecha_entrada"
          name="fecha_entrada" title="Seleccionar fecha de entrada">
      </div>

      <div style="margin-bottom: 20px;">
        <label for="fecha_salida">Fecha de salida:</label>
        <input placeholder="Selecciona una fecha" type="text" id="fecha_salida"
          name="fecha_salida" title="Seleccionar fecha de salida">
      </div>
    </div>


    <!-- Número de inquilinos -->
    <div class="range-class-div">

      <label style="color: white;" for="rangeInquilinos" class="form-label">Nº inquilinos</label>
      <input style="color: wheat;" type="range" class="form-range" min="0" max="{{ casa.max_inquilinos }}"
        step="1" id="rangeInquilinos" title="Seleccionar número de inquilinos">
      <span style="color: white;" id="rangeValueInquilinos"></span>
      <input type="hidden" id="rangeValueInputInquilinos" name="num_inquilinos">
    </div>
   <br>
   <div class="range-class-div">
     <!-- Número de menores de 15 años -->
     <label style="color: white;" for="rangeMenores" class="form-label">Nº menores 15</label>
     <input style="color: wheat;" type="range" class="form-range" min="0" max="5"
       step="1" id="rangeMenores" title="Seleccionar número de menores">
     <span style="color: white;" id="rangeValueMenores"></span>
     <input type="hidden" id="rangeValueInputMenores" name="num_menores">

   </div>
<br>
<br>

<div class="div-precios">
  <div>
    <label for="precio_noche_persona">Precio persona/noche:</label>
    <div id="precio_noche_persona" data-precio="{{ casa.precio_noche_persona }}">{{ casa.precio_noche_persona }}</div>
  </div>
  <div>
    <label for="precio_total">Precio total:</label>
    <div id="precio_total"></div>
    <input type="hidden" id="precio_total_input" name="precio_total_input" >
  </div>
</div>


    <div class="btn_reserve">
      <button id="btn-reserve" type="submit" class="btn btn-info" title="Haga clic para completar la reserva">
        <i style="padding: 5px" class="bi bi-journal-bookmark-fill"></i>Reservar
      </button>
    </div>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const numInquilinos = document.getElementById('rangeInquilinos');
    const fechaEntrada = document.getElementById('fecha_entrada');
    const fechaSalida = document.getElementById('fecha_salida');
    const precioNoche = document.getElementById('precio_noche_persona').dataset.precio;
    const precioTotal = document.getElementById('precio_total');
    const precioTotalInput = document.getElementById('precio_total_input');

    function calcularPrecioTotal() {
      if (fechaEntrada.value && fechaSalida.value && numInquilinos.value && precioNoche) {
        const startDate = new Date(fechaEntrada.value);
        const endDate = new Date(fechaSalida.value);

        const diffTime = Math.abs(endDate - startDate);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); // Diferencia en días

        const total = diffDays * numInquilinos.value * parseFloat(precioNoche);
        precioTotal.textContent = total.toFixed(2); // Asumiendo que quieres dos decimales
        precioTotalInput.value = total.toFixed(2); // Actualiza el input oculto para enviar en el formulario
      } else {
        precioTotal.textContent = ''; // Limpiar display si alguna entrada está incompleta
        precioTotalInput.value = ''; // Limpiar input si alguna entrada está incompleta
      }
    }

    // Escuchar cambios en los elementos relevantes
    numInquilinos.addEventListener('input', calcularPrecioTotal);
    fechaEntrada.addEventListener('change', calcularPrecioTotal);
    fechaSalida.addEventListener('change', calcularPrecioTotal);
  });
</script>


<script>
        $(document).ready(function() {
          let reservedRanges = [];
          var idCasa = '{{ casa.id }}';
      
          // Función para deshabilitar fechas
          function disableDates(date) {
            date.setHours(0, 0, 0, 0);  // Establece la hora, minuto, segundo y milisegundo a 0
            for (let range of reservedRanges) {
              let startDate = new Date(range.start);
              let endDate = new Date(range.end);
              startDate.setHours(0, 0, 0, 0); // Asegúrate de que la comparación de fechas sea justa
              endDate.setHours(23, 59, 59, 999);  // Extiende el rango al final del día
              if (date >= startDate && date <= endDate) {
                return [false, "reserved"]; // Días deshabilitados y marcados
              }
            }
            return [true];
          }
          // Función para obtener reservas desde la API
          function fetchReservations() {
            $.ajax({
              url: "/api_reservas/" + idCasa + '/', // Coloca la URL correcta según tu configuración de rutas
              method: 'GET',
              success: function(data) {
                reservedRanges = data; // Guarda las fechas de reserva
                $("#fecha_entrada, #fecha_salida").datepicker('refresh'); // Actualiza el datepicker
              },
              error: function(error) {
                console.error("Error al obtener las reservas:", error);
              }
            });
          }
      
          // Configuración inicial de DatePicker
          $("#fecha_entrada, #fecha_salida").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: 0, // No permitir seleccionar fechas anteriores a hoy
            beforeShowDay: disableDates,
            onSelect: function(selectedDate) {
              if (this.id == 'fecha_entrada') {
                var minDate = $(this).datepicker('getDate');
                $('#fecha_salida').datepicker('option', 'minDate', minDate);
                
                // Establecer fecha máxima para 'exitDate' de acuerdo a la próxima reserva
                let maxDate = null;
                for (let range of reservedRanges) {
                  if (new Date(range.start) > minDate) {
                    maxDate = new Date(range.start);
                    maxDate.setDate(maxDate.getDate() - 1); // Un día antes del inicio de la próxima reserva
                    break;
                  }
                }
                $('#fecha_salida').datepicker('option', 'maxDate', maxDate);
                $('#fecha_salida').datepicker('setDate', minDate);
              }
            }
          });
      
          fetchReservations(); // Llama a la función para obtener las fechas reservadas al cargar la página
        });
      </script>

<script>
        // Manejador para el número de inquilinos
        const rangeInquilinos = document.getElementById('rangeInquilinos');
        const rangeValueDisplayInquilinos = document.getElementById('rangeValueInquilinos');
        const rangeValueInputInquilinos = document.getElementById('rangeValueInputInquilinos');
        
        rangeInquilinos.addEventListener('input', function() {
            rangeValueDisplayInquilinos.textContent = rangeInquilinos.value;
            rangeValueInputInquilinos.value = rangeInquilinos.value;
        });
      
        // Manejador para el número de menores de 15
        const rangeMenores = document.getElementById('rangeMenores');
        const rangeValueDisplayMenores = document.getElementById('rangeValueMenores');
        const rangeValueInputMenores = document.getElementById('rangeValueInputMenores');
        
        rangeMenores.addEventListener('input', function() {
            rangeValueDisplayMenores.textContent = rangeMenores.value;
            rangeValueInputMenores.value = rangeMenores.value;
        });
      </script>

<script>
      window.onpageshow = function(event) {
          if (event.persisted) {
              window.location.reload();
          }
      };
      </script>

{% endblock %}