<!-- templates/admin_panel.html -->
{% extends "base.html" %}

{% load static %}

{% block title %}Admin Panel{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{% static 'appCasa/css/admin/createCasas.css' %}">
{% endblock %}

{% block content %}

{% if tipo_objeto == 'casa' %}
    <div class="container mt-5">
        <h1>Crear Casa</h1>
        <form method="post">
            {% csrf_token %}
            
            <input type="hidden"  name="tipo_objeto" value="casa">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="licencia" class="form-label">Licencia</label>
                <input type="text" class="form-control" id="licencia" name="licencia">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion">
            </div>
            <div class="mb-3">
                <label for="num_habitaciones" class="form-label">Numero de habitaciones</label>
                <input type="number" class="form-control" id="num_habitaciones" name="num_habitaciones">
            </div>
            <div class="mb-3">
                <label for="max_inquilinos" class="form-label">Maximo de inquilinos</label>
                <input type="number" class="form-control" id="max_inquilinos" name="max_inquilinos">
            </div>
            <div class="mb-3">
                <label for="precio_noche" class="form-label">Precio por noche</label>
                <input type="number" class="form-control" id="precio_noche" name="precio_noche">
            </div>
            <div class="mb-3">
                <label for="img_url" class="form-label">URL Imagen</label>
                <input type="text" class="form-control" id="img_url" name="img_url">
            </div>
            <div class="mb-3">
                <label for="url_name" class="form-label">Nombre URL</label>
                <input type="text" class="form-control" id="url_name" name="url_name">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="{% url 'admin_casas' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>

{% elif tipo_objeto == 'inquilino' %}
    <div class="container mt-5">
        <h1>Crear Inquilino</h1>
        <form method="post">
            {% csrf_token %}
            
            <!-- Campos para la creación del usuario -->
            <div class="mb-3">
                <label for="username" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <!-- Campos específicos del Inquilino -->
            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="{% url 'admin_inquilinos' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>

    {% elif tipo_objeto == 'restaurante' %}
    <div class="container mt-5">
        <h1>Crear Restaurante</h1>
        <form method="post">
            {% csrf_token %}
            
            <!-- Campo para el nombre del restaurante -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            
            <!-- Campo para el número de licencia -->
            <div class="mb-3">
                <label for="num_licencia" class="form-label">Número de Licencia</label>
                <input type="text" class="form-control" id="num_licencia" name="num_licencia" required>
            </div>
    
            <!-- Campo para la dirección del restaurante -->
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" required>
            </div>
    
            <!-- Campo para la descripción del restaurante -->
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
            </div>
    
            <!-- Campo para el precio medio -->
            <div class="mb-3">
                <label for="precio_medio" class="form-label">Precio Medio</label>
                <input type="text" class="form-control" id="precio_medio" name="precio_medio" required>
            </div>
    
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="{% url 'admin_restaurantes' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>
{% endif %}

{% endblock %}